body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    color: darkgrey;
}

header {
    background-color: darkorange;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
    color: darkred;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    background: lightgrey;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: darkorange;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.logo-copyright {
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

button {
    background-color: brightred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: darkred;
}

.form-container {
    margin-top: 20px;
    width: 100%;
}
