html, body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    text-align: center;
    height: 100%;
    overflow-x: hidden;
}

header {
    background-color: orange;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    margin-right: 15px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
    color: red;
    letter-spacing: 1px;
}

main {
    padding: 20px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

p {
    font-size: 1.4em;
    margin-bottom: 60px;
    color: black;
    max-width: 600px;
    line-height: 1.5;
    text-align: justify;
}

a {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: red;
}

button {
    background-color: red;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-top: 0px; 
}

button:hover {
    background-color: darkred;
}

footer {
    background-color: orange;
    color: white;
    padding: 15px;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.logo-copyright {
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

footer p {
    margin: 0;
    font-size: 1em;
    letter-spacing: 1px;
}

footer img {
    width: 30px;
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    width: 250px;
    border: 1px solid gray;
    border-radius: 5px;
}

